@import '../../styles/main.scss';

.cachetoast {
    position: absolute;
    top: 0;
    left: 50%;
    height: 30px;
    background-color: #ff007f;
    width: 100%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

