@import '../../styles/main.scss';

.updatetoast {
    position: absolute;
    top: 0;
    left: 50%;
    height: 40px;
    background-color: #ff007f;
    width: 100%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    &__btn{
        background-color: white;
        border-radius: 5px;
        padding: 3px 5px;
        font-size: .9rem;
    }
}

