@import '../../styles/main.scss';

.rangerings {
    @include content-section;

    &__link{
        width: 50%;
        height: 50px;
        background-color: white;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        margin: 10px auto;
    }
}