@import '../../styles/main.scss';

.rangerings {
    @include content-section;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    &__header {
        width: 100%;
        background-color: #292929;
        color: $color-highlight;
        text-align: center;
        padding: 10px;
        font-weight: bold;
    }

    &__btn{
        @include btn;
    }
}