@import '../../styles/main.scss';

.ring {
    position: relative;
    @include content-section;
//    overflow: hidden;

    &__wrapper {
        height: 100% !important;
        width: 100% !important;
        z-index: 0;
    }

    &__nav {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: calc(100% - 100px);
        z-index: 1;
    }
    
    &__label {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 5px;
        height: 30px;
        background-color: rgb(255, 255, 255);
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
    }

    &__navbtn {
        width: 60px;
        height: 30px;
        margin: 10px;
    }
}

