// Colors
$nav-height: 90px;
$color-content-bg: #444444;
$color-highlight: #adff2f;


@mixin content-section {
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

@mixin btn {
    width: 80%;
    height: 50px;
    background-color: #777777;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    margin: 10px auto;
    cursor: pointer;
    color: white;
}

