@import '../../styles/main.scss';

.rangeringsnav {
    @include content-section;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__btn{
        @include btn;
    }
}