@import '../../styles/main.scss';

.nav {
    position: fixed;
    bottom: 0;
    height: 100px;
    width: 100%;
    background-color: rgb(24, 24, 24);
    
    &__inner{
        height: 70px;
        display: flex;
        justify-content: center;
    }

    &__divider {
        width: 5px;
        background-color: gray;
    }
    &__btn {
        cursor: pointer;
        padding: 5px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        &-icon{
            width: 40px;
            aspect-ratio: 1;
            fill: white;
        }
    }

    .nav__icon{
        width: 40px;
        aspect-ratio: 1;
        fill: #eeeeee;
        
        &--active{
            fill: rgb(255, 0, 187);
        }
    }
}